html{
    height:100%;
}

body {
    width: 100%;
    height: 1001％;
}

.admin_header {
    width: 100%;
    height: 115px;
    background-color: #eee;
}

.inner {
    padding-right: 5%;
    padding-left: 5%;
}

li {
    list-style: none;
}

.login_name_color{
    color:mediumorchid;
}

.login_name_san{
    font-size: 17px;
}
.button {
    padding: 15px 20px;
    background: #4169e1;
    width: 170px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.button:hover {
    background-color: #666;
    opacity: 0.7;
    color: blue;
    font-weight: bold;
}

.original-gradient {
    background-color: #d9e5ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.original-gradient_add{
    background-color: #d9e5ff;
    width: 100%;
    height: 100vh;
    position:relative;
    /* 上下左右中央寄せ */
}

.center__center{
    /* 上下左右中央寄せ */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.thank_you {
    font-size: 1.7rem;
    font-weight: bold;
    color: #666;
    margin-top: 33px;
}

.thank_you_add {
    font-size: 1.7rem;
    font-weight: bold;
    color: blue;
    padding-top: 33px;
}

.add_back{
    background-color: #007bff;
}

.flex_thank_you{
    text-align: center;
    color:#fff;
    font-weight: bold;
}


/* 掲示板投稿一覧ページ */
.main_index {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.flex_name_logout{
    display: flex;
    align-items: center;
}
.left_index {
    width: 75%;
}
.right_index {
    width: 25%;
    text-align: left;
}
.button_category {
    padding: 10px 20px;
    background: #cc4125;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.button_category:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.button_category_blue {
    padding: 10px 20px;
    background: #4169e1;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.button_category_blue:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.button_like {
    padding: 10px 20px;
    background: #f4b400;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    border:1px solid #fff;
    font-weight: bold;
}

.button_like:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.button_mine {
    padding: 10px 20px;
    background: greenyellow;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    border:1px solid #fff;
    font-weight: bold;
}

.button_mine:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.button_sub_category_index {
    padding: 5px 10px;
    background: mediumorchid;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: 0.3s;
    border:1px solid #fff;
    font-weight: bold;
}

.button_sub_category_index:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}
.create_margin {
    display: block;
    margin-bottom: 20px;
}

.post_block {
    width: 97%;
    height: auto;
    border: solid 2px blue;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.posts_padding {
    width:100%;
    padding: 15px;
    margin-bottom: 0;
}

.posts_padding p {
    margin-bottom: 0;
}

.posts_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts_user_name{
    width: 300px;
}

.posts_category_name{
    width: 300px;
    font-weight: bold;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 0;
    color:mediumorchid
}

.posts_category {
    min-width: 250px;
}

.posts_comment_flex {
    color: blue;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts_like_flex{
    width: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.posts_detail_go{
    width:150px;
}

/* 投稿ボタン */
.button_category_blue:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}
/* カテゴリー追加画面 */

.category_new_form {
    width: 400px;
}

.text_category {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #eee;
}

.button_category_create {
    padding: 10px 20px;
    background: #cc4125;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
}

.button_category_create:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.register_error {
    padding-left: 0;
}

.error-ul {
    padding-left: 0;
}

.error-message {
    color: red;
    font-size: 20px;
    list-style: none;
    margin-bottom: 0;
}

/* サブカテゴリー登録 */

.category_right_index {
    width: 40%;
}

.category_left_index {
    width: 40%;
}
.sub_category_new_form {
    width: 400px;
    height: auto;
    margin-top: 100px;
}

.sub_category_thank_you {
    font-size: 1.7rem;
    font-weight: bold;
    color: #666;
    /* margin-top: 17px; */
}

.select_sub_category {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #eee;
    margin-bottom: 30px;
}

.main_category_font {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.sub_category_font {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.button_category_delete {
    font-size: 13px;
    padding: 3px 8px;
    background: #cc4125;
    width: 70px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    transition: 0.3s;
}

.button_category_delete:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.flex-subcategory_delete {
    display: flex;
    justify-content: space-between;
}

.flex-subcategory_index {
    display: flex;
    justify-content: space-between;
    color:#006400;
}

.button_category_delete_main {
    font-size: 13px;
    padding: 3px 8px;
    background: #4169e1;
    width: 70px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    transition: 0.3s;
}

.button_category_delete_main:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.flex-main_category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 新規投稿画面 */

.post_top {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
}
.post_sub_category,
.post_title,
.post_create,
.post_button,
.return {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.select_sub_category_create {
    display: block;
    width: 70%;
    height: 40px;
    background-color: #eee;
    border: #606060 solid 2px;
    font-size: 20px;
}

.post_thank_you {
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    color: #666;
}

.post_title_text {
    width: 70%;
    height: 40px;
    background: #eee;
    border: #606060 solid 2px;
}

.post_title_text {
    width: 70%;
    height: 40px;
    background: #eee;
    border: #606060 solid 2px;
    font-size: 20px;
}

.post_body_text {
    width: 70%;
    /* height: 300px; */
    background: #eee;
    border: #606060 solid 2px;
    font-size: 20px;
    resize: none;
    color: #151515;
}

.button_post_create_blue {
    display: inline-block;
    padding: 15px 20px;
    background: #4169e1;
    width: 70%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
}

.button_post_create_blue:hover {
    background-color: #666;
    opacity: 0.7;
    color: blue;
    font-weight: bold;
}

.button_post_create {
    display: inline-block;
    padding: 15px 20px;
    background: #cc4125;
    width: 70%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
}

.button_post_create:hover {
    background-color: #666;
    opacity: 0.7;
    color: blue;
    font-weight: bold;
}

/* 掲示板詳細 */

.main_post {
    margin: 0 atuo;
    margin-top: 5%;
}

.post_name_at {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.comment_like {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.post_detail_block {
    width: 100%;
    height: auto;
    border: solid 2px #666;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.posts_detail_padding {
    padding: 2%;
    margin-bottom: 0;
}

.post_comment_text {
    width: 100%;
    /* height: 300px; */
    background: #eee;
    border: #606060 solid 2px;
    font-size: 20px;
    resize: none;
    color: #151515;
}

.button_detail_update {
    padding: 10px 20px;
    background: #cc4125;
    width: 150px;
    height: atuo;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
}

.button_detail_update:hover {
    background-color: #666;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
}

.button_comment {
    padding: 10px 20px;
    background: #006400;
    width: 150px;
    height: atuo;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.button_comment:hover {
    background-color: #666;
    opacity: 0.7;
    color: blue;
    font-weight: bold;
}

.post_title_font {
    font-size: 35px;
    color: #4169e1;
    font-weight: bold;
}

.post_body_font {
    font-size: 25px;
    font-weight: bold;
}

.detail_sub_category {
    background-color: #f4b400;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
}

.show_comment_box {
    font-weight: bold;
    margin-bottom: 50px;
}

.comment_num {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like_num {
    width: 200px;
    text-align: center;

}

.view_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------- */
.show_comment_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_comment_name {
    display: flex;
    align-items: center;
    width: 500px;
}

.show_comment_name p {
    margin-bottom: 0;
}

.show_comment_edit {
    text-align: right;
}

.comment_name {
    color: #4169e1;
    width: 70%;
}

.comment_event_at {
    width: 30%;
}

/* -------------------------- */

.comment_show_sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment_show {
    width: 80%;
}

.comment_sum {
    text-align: right;
    width: 20%;
}

.comment_hr {
    border-bottom: 3px #f4b400 solid;
}
